HOST_DNS_ADDRESS	localhost
GLASSFISH_DIRECTORY	/usr/local/glassfish4
ADMIN_EMAIL	root@localhost.localdomain
MAIL_SERVER	localhost.localdomain
POSTGRES_ADMIN_PASSWORD	YOUR_SECRET
POSTGRES_SERVER	127.0.0.1
POSTGRES_PORT	5432
POSTGRES_DATABASE	dvndb
POSTGRES_USER	dvnapp
POSTGRES_PASSWORD	YOUR_SECRET
SOLR_LOCATION	localhost:8983
TWORAVENS_LOCATION	NOT INSTALLED
RSERVE_HOST	localhost
RSERVE_PORT	6311
RSERVE_USER	rserve
RSERVE_PASSWORD	rserve
